.container {
  margin: 2rem auto 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;

  .button {
    flex: 1;
    cursor: pointer;
    margin: 20% 2rem 0 2rem;
    width: 5rem;
    height: 4rem;
    border: none;
    outline: none;
    right: 3rem;
    background: url('img/prev.svg') no-repeat;
  }

  .placeHolder {
    flex: 1;
    margin: 20% 2rem 0 2rem;
    padding: 0;
    width: 5rem;
    height: 4rem;
    right: 3rem;
  }

  .button:last-child {
    background: url('img/next.svg') no-repeat;
  }
  div {
    flex: 8;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
    }

  }
}

@media all and (max-width: 780px) {
  .container {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    div {
      width: 90vw;
    }
  }
}
