.container {
  margin: 0 auto;
}

.header {
  margin: 2rem .5rem 0 6rem;
  font-size: 1.1rem;
  font-weight: 500;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
